<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amolg.flutterbarcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application>
        <!-- Eliminada referencia a BarcodeCaptureActivity ya que no usamos la captura real -->
    </application>

</manifest>